<h1>Welcome!</h1>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p style="color:red;"><%= error %></p>
  <% end %>
<% end %>
<div id="register">
    <h3>Register</h3>
    <form action="/users" method="POST">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <label>First Name:</label> <input type="text" name="user[first_name]" placeholder="First Name">
    <br>
    <label>Last Name:</label> <input type="text" name="user[last_name]" placeholder="Last Name">
    <br>
    <label>Email:</label> <input type="text" name="user[email]" placeholder="Email">
    <br>
    <label>City:</label> <input type="text" name="user[location]" placeholder="City">
    <br>
    <label>State:</label> <select id="state" name="user[state]">
	<option value="AL">AL</option>
	<option value="AK">AK</option>
	<option value="AR">AR</option>	
	<option value="AZ">AZ</option>
	<option value="CA">CA</option>
	<option value="CO">CO</option>
	<option value="CT">CT</option>
	<option value="DC">DC</option>
	<option value="DE">DE</option>
	<option value="FL">FL</option>
	<option value="GA">GA</option>
	<option value="HI">HI</option>
	<option value="IA">IA</option>	
	<option value="ID">ID</option>
	<option value="IL">IL</option>
	<option value="IN">IN</option>
	<option value="KS">KS</option>
	<option value="KY">KY</option>
	<option value="LA">LA</option>
	<option value="MA">MA</option>
	<option value="MD">MD</option>
	<option value="ME">ME</option>
	<option value="MI">MI</option>
	<option value="MN">MN</option>
	<option value="MO">MO</option>	
	<option value="MS">MS</option>
	<option value="MT">MT</option>
	<option value="NC">NC</option>	
	<option value="NE">NE</option>
	<option value="NH">NH</option>
	<option value="NJ">NJ</option>
	<option value="NM">NM</option>			
	<option value="NV">NV</option>
	<option value="NY">NY</option>
	<option value="ND">ND</option>
	<option value="OH">OH</option>
	<option value="OK">OK</option>
	<option value="OR">OR</option>
	<option value="PA">PA</option>
	<option value="RI">RI</option>
	<option value="SC">SC</option>
	<option value="SD">SD</option>
	<option value="TN">TN</option>
	<option value="TX">TX</option>
	<option value="UT">UT</option>
	<option value="VT">VT</option>
	<option value="VA">VA</option>
	<option value="WA">WA</option>
	<option value="WI">WI</option>	
	<option value="WV">WV</option>
	<option value="WY">WY</option>
</select>	
	<br>	
    <br>
    <label>Password:</label> <input type="password" name="user[password]" placeholder="Password">
    <br>
    <p>*Password should be at least 8 characters</p>
    <br>
    <label>Password Confirmation:</label> <input type="password" name="user[password_confirmation]" placeholder="Confirm Password">
    <br>

    <button type="submit">Register</button>
    </form>
</div>
<div id="login">
<h3>Login</h3>
<form action="/users/authenticate" method="POST">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
 	<label>Email:</label> <input type="text" name="user[email]" placeholder="Email">
 	<br>
 	<label>Password:</label> <input type="password" name="user[password]" placeholder="Password">
 	<br>

    <button type="submit">Login</button>
</form>
</div>

